/* 
tac	text-align: center;
m0-a	margin: 0 auto;
p10	padding: 10px;
m10p	margin: 10%;
fz16	font-size: 16px; 
df	display: flex;
aic align-items: center;
*/
.class {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  font-size: 16px;
  text-align: center;
  color: #4a4747;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-style: 16px;
}
